body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#file-tree {
  width: 300px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  margin: 5px 0;
  cursor: pointer;
}

.folder > span::before {
  content: "📁";
  margin-right: 5px;
}

.file > span::before {
  content: "📄";
  margin-right: 5px;
}

#box {
  display: flex;
}
#right-content {
  flex: 1;
}
